.App {
  font-size: 20px;
  color: blueviolet;
}
.App-con {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 30px;
}
.icon-test {
  font-size: 25px;
  color: '#08c';
  margin-left: 30px;
  vertical-align: -3px;
}
