.Header {
  height: 80px;
  border-bottom: 1px solid #d4dadf;
  overflow: hidden;
}
.Header-box {
  max-width: 900px;
  margin: 0 auto;
}

.Header ul {
  margin: 0;
  padding: 0;
  padding-top: 40px;
}
.Header li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}
.Header li a {
  text-decoration: none;
  display: block;
  padding: 0 10px;
  color: #545454;
}
.Header li a:hover {
  border-bottom: 1px solid blueviolet;
}

.Header .Nav {
  float: left;
  width: 70%;
}
.Header .Logo {
  float: left;
  width: 30%;
}
.Header .Logo .box {
  width: 79px;
  height: 79px;
  animation: App-logo-spin infinite 20s linear;
}
.Header .Logo .box img {
  width: 100%;
  height: 100%;
}
.Nav-active {
  color: blueviolet !important;
  border-bottom: 1px solid blueviolet;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
